*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #E6E6E6;
}

button{
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
