main{
  padding: 0px 2%;
  position: relative;

  .notes-content{
    padding: 50px 0;
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    .note-wrap{
      width: calc(25% - 15px);
    }
  }

  .btn-add-content{
    position: fixed;
    bottom: 35px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    left: 0;
    padding-right: 15px;
  }

  .btn-add-note{
    font-weight: 400;
    font-size: 45px;
    background-color: white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 1px;
    vertical-align: middle;
    transition: 0.3s;

    &:hover{
      background-color: #EEE;
    }
  }
}

/* media screen max-width: 1023px */
@media screen and (max-width: 1023px){
  main{
    .notes-content{
      .note-wrap{
        width: calc(33.33% - 15px);
      }
    }
  }
}


/* media screen max-width: 768px */
@media screen and (max-width: 768px){
  main{
    .notes-content{
      .note-wrap{
        width: calc(50% - 15px);
      }
    }
  }
}

/* media screen max-width: 480px */
@media screen and (max-width: 480px){
  main{
    .notes-content{
      .note-wrap{
        width: 100%;
      }
    }
  }
}
