<div class="note">
  <div class="note-header">
    <button (click)="editNote()">
      <span>
        <i class="fa-regular fa-pen-to-square"></i>
      </span>
    </button>
    <button (click)="deleteNote()">
      <span>
        <i class="fa-regular fa-trash-can"></i>
      </span>
    </button>
  </div>
  <div class="note-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate in nisi vel feugiat. Phasellus varius vulputate ipsum non mollis. Donec posuere vulputate dui at scelerisque. Nullam interdum nibh vitae turpis aliquam, non varius odio fermentum.
  </div>
  <div class="note-footer">
    21/05/2023
  </div>
</div>
